html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Hard Rock Cafe';
  src: url('/font/hardcafe.ttf');
}

body{
  background-color: #8c1d04;
}

.black{
  background-color: #1f1f1c;
  position: absolute;
  display: block;
  margin-left: 8em;
  margin-top: 8%;
  padding: 5%;
  border-radius: 50px 0px;
  color: white;
  font-size: 1.5em;
}

form{

}

form table{
  width: 20em;
}

form input{
  width: 100%;
  height: 3em;
  margin-bottom: 2em;
  border-radius: 10px;
  font-size: 0.7em;
}

form input[type=checkbox]{
  height: auto;
  display: inline-block;
}

#condition{
  display: inline-block;
}

input[type=submit]{
  display: block;
  margin: auto;
  color: #8c1d04;
  font-family: 'Hard Rock Cafe';
  font-size: 1em;
  height: 2em;
  width: 50%;
  background-color: #f9ae39;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .black{
    margin-left: 25em;
  }
}
