<link rel="stylesheet" href="/css/menu.css" media="screen" charset="utf-8">

<div id="top">
  <div id="menu-top">
    <div id="titre">
      <img src="img/logo.png" id="logo" alt="Logo titre">
      <h1>Sup'Rock</h1>
    </div>
    <ul id="list-top">
      <a href="/index/index"><li class="">ACCUEIL</li></a>
      <a href="/articles/redirection" id="create"><li class="">CREER UN ARTICLE</li></a>
      <a href="/user/inscription" id="create"><li class="">INSCRIPTION</li></a>
      <a href="/user/account" id="profil"><li class=""><img src="img/login.png" class="logoLogin" alt="Login icon"></li></a>
    </ul>
  </div>
</div>
